### Importing data and processing

In [ ]:
import pandas as pd 

df = pd.read_csv("student-scores_01.csv")

print("score head")
df.head()

print(f"rows: {df.shape[0]}, columns: {df.shape[1]}")

print(f"Data Info:")
print(df.info())

score head
rows: 2000, columns: 18
Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          2000 non-null   int64
 1   first_name                  2000 non-null   object
 2   last_name                   2000 non-null   object
 3   email                       2000 non-null   object
 4   gender                      2000 non-null   object
 5   part_time_job               2000 non-null   bool
 6   absence_days                2000 non-null   int64
 7   extracurricular_activities  2000 non-null   bool
 8   weekly_self_study_hours     2000 non-null   int64
 9   career_aspiration           2000 non-null   object
 10  math_score                  2000 non-null   int64
 11  history_score               2000 non-null   int64
 12  physics_score               2000 non-null   int64
 13  chemistry_score             2000 non-null   int64
 14  biology_score               2000 non-null   int64
 15  english_score               2000 non-null   int64
 16  geography_score             2000 non-null   int64
 17  total_score                 2000 non-null   int64
dtypes: bool(2), int64(11), object(5)
memory usage: 254.0+ KB
None

### Label encoding

In [9]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['part_time_job'] = le.fit_transform(df["part_time_job"])
df['extracurricular_activities'] = le.fit_transform(df["extracurricular_activities"])

df.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,0,3,0,27,Lawyer,73,81,93,97,63,80,87,574
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,0,2,0,47,Doctor,90,86,96,100,90,88,90,640
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,0,9,1,13,Government Officer,81,97,95,96,65,77,94,605
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,0,5,0,3,Artist,71,74,88,80,89,63,86,551
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,0,5,0,10,Unknown,84,77,65,65,80,74,76,521

### Featuring Scaling